*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif !important;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.4;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}


.clear-fix {
    clear: both;
}

input, textarea {
    outline: none;
}






.bio textarea:focus{
    background: cadetblue !important;
    font-weight: 500;
    font-size: 1.3rem;
    cursor: text
}

#search-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}



#search-cover h1{
    font-size: 2.7rem;
    padding: 20px ;
    color:#797070;
    display: block;
    text-align: center;
}


.btn-secondary{
    display: block !important;
    margin: 1.4rem auto 0px!important;
    padding: 1rem 2.2rem;
    font-weight: 700;
    font-size: 1.1rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgba(255, 255, 255, 0.89);background: #2b5456;
    ;border-color:#4b4e50;
    outline: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;

}

.btn-secondary:hover
{color:#fff;background-color:#3a7c7c;border-color:#6c7c8d}

.btn-secondary.focus,.btn-secondary:focus
{box-shadow:0 0 0 .2rem rgba(130,138,145,.5)}



.container{
    max-width: 1100;
    margin: auto;
}


.posts-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0px 0;
}

.posts-wrapper div {
    flex : 1;
    margin: 1.5rem;
}



.btn-post {
    position: absolute;
    bottom: -17px;
    left: -1rem;
    background: #333;
    padding: .6rem 1rem;
    border-radius: 1rem;
    display: block;
    margin: auto
}

.posts-wrapper .post-wrap {
    background: rgba(100, 155, 255, 0.7);
    height: 300px;
    flex:2 !important;
    border-radius: 3rem;
    border-top-left-radius: 0;
    position: relative;
    margin-left: 2rem;
    padding: 0;
    padding-bottom: 10px;
    direction: rtl

}

.posts-wrapper .post-wrap::after {
    content: '';
    position: absolute;
    left: -60px;
    top: 0;
    border-top: 0px solid transparent;
    border-right: 60px solid rgba(100, 155, 255, 0.7);
    border-bottom: 33px solid transparent;
}

.posts-wrapper .post-wrap .post {
    width: 90%;
    height: 85%;
    position: absolute;
    top: 0px;
    right: 0px;
   
}

/* for company */




































.post-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10%;
    direction: rtl;
    text-indent: 7px;
    color: #fff !important;;
    font-weight: 600;
    word-wrap: wrap;
    overflow: hidden;
}


.post-content p {
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 400;
}

textarea{
   
display: block;
margin: auto;
background:rgba(100, 155, 255, 0.9);
border: none;
border-radius: 2rem;
font-weight: 400;
font-size: 1.2rem;
padding: 1rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
direction: rtl;
}



.posts-wrapper .post-wrap .user-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -16%;
}

.posts-wrapper .post-wrap .user-info a {
    color: #333 !important;
    font-size: .8rem;
    font-weight: 500;
    transition: all .5s ease;

}

.posts-wrapper .post-wrap .user-info a:hover {
    color: teal;
    font-weight: 600
}


.posts-wrapper .post-wrap .user-info a img {
    width: 55px;
    height: 60px;
    border-radius: 50%;
    display: block;
}





.course-description h3 {
    margin: .3rem 0 1.1rem;
    font-size: 1rem;
    font-weight: 400;
    width: 80%;
    color: rgb(0, 0, 0);  
}

.course-description h3 svg {
    color: rgb(92, 91, 91);
    font-weight: 300;
    transition: all .4s ease-in-out;
    cursor: pointer;
   
}


.course-description h3 svg:hover {
    color: teal;
    font-size: 1.2rem
}




button.joinFree {
    display: block;
    margin: auto;
    padding: 1.5rem 6rem;
    margin: 20px auto;
    background: cadetblue;
    border: none;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .4s linear;
}

button.joinFree:hover{
    background: #797878;
    color: steelblue
}
footer {
    display: flex;
    background: #333;
    flex-direction: column;
    box-shadow: 0px 0px 9px #c3bcbc;
    width: calc(100% - 12rem);
    float: right;

}

.footer-wrap {
    
    display: flex;
    justify-content: space-around;
    height: 12rem;
    align-items: center;  
}

.footer-wrap div {
    display: flex;
    flex-direction: column;
}
.footer-wrap div a {
    
    margin: .7rem 0;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: .3s all ease;
}

.footer-wrap div a:hover {
    color: #e9cfcf;
    font-weight: 600
}
.footer-wrap:last-child {
    flex: 2 !important;
    text-align: center

}
.footer-wrap div h4 {
    margin-left: 10px
}


.footer-wrap div input {
    border: none;
    border-radius: 2rem;
    height: 1.5rem;
    width: 16rem;
    margin: 1rem 0;
    background: #a09999;
    box-shadow: 0px 0px 3px #b28a8a;
    outline: none
}

.copyright {
    display: flex;
    padding: 20px;
    align-items: center;
    font-size: 1.1rem;
    justify-content: space-around;
}
.copyright h6 {
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: 1.1px;
    font-family: sans-serif;
}

main-form{
    height: 100vh;
    width: 100vw;
    background: darkolivegreen;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-form > div {
    height: 70%;
    width: 70%;
    background: #333;
    border-radius: 5rem
}




































/* ffffffffffffffffffffffffffffffffffffffffff */






ul {
    list-style: none
}
.posts-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 60px 0;
}

.posts-wrapper div {
    flex : 1;
    margin: 1.5rem;
}



.btn-post {
    position: absolute;
    bottom: -37px;
    display: block;
    margin: auto;
    right: 40%;
    background: rgb(11, 124, 141);
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: aliceblue;
    font-family:sans-serif !important;
    cursor: pointer;
}

.posts-wrapper .post-wrap {
    background: teal;
    height: 300px;
    flex:2 !important;
    border-radius: 3rem;
    border-top-left-radius: 0;
    position: relative;
    margin-left: 2rem;
    padding: 0;
    padding-bottom: 10px;
    direction: rtl

}

.posts-wrapper .post-wrap::after {
    content: '';
    position: absolute;
    left: -60px;
    top: 0;
    border-top: 0px solid transparent;
    border-right: 60px solid teal;
    border-bottom: 33px solid transparent;
}




.tex, textarea{
   
display: block;
margin: auto;
background:rgba(2, 60, 60, 0.72);
border: none;
border-radius: 2rem;
font-weight: 400;
font-size: 1.2rem;
text-indent: 1.2rem;
padding: 1rem;
font-family: sans-serif;
outline: none;
color: #fff
}



.posts-wrapper .post-wrap .user-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -16%;
}

.posts-wrapper .post-wrap .user-info a {
    color: #333;
    font-size: .8rem;
    font-weight: 500;
    transition: all .5s ease;
}

.posts-wrapper .post-wrap .user-info a:hover {
    color: teal;
    font-weight: 600
}


.posts-wrapper .post-wrap .user-info a img {
    width: 55px;
    height: 60px;
    border-radius: 50%;
    display: block;
}

.course-description{
    padding: 1.5rem 0 ;
}

.course-description div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center
}


.course-description div svg {
    color: rgb(92, 91, 91);
    font-weight: 300;
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-size: 1.2rem
   
}


.course-description div svg:hover {
    color: teal;
    font-size: 1.2rem
}


.joining {
    background: #3c4552;
    color: #fff;
    padding: 1.3rem .4rem;
    margin-top: 2rem;
    display: block;
    text-align: center;
    font-weight: 500;
    border-radius: 10rem;
    transition: all .4s ease-in-out;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem 1.1rem;
}
.joining:hover {
    color: #fff;
    cursor: pointer;
    background: rgba(60, 69, 82,.9)
}









.adding-post {
    width: 30vw;
    margin: auto;
    text-align: center;
   
}
.adding-post ul {
    display: block;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    
}

.adding-post ul li {
   
    text-align: center;
}

.adding-post ul li a {
    background: #54918f;
    padding: 1rem 1.4rem;
    border:none;
    outline: none;
    margin: .3rem;
    border-radius: 10px;
    font-size: .8rem;
}

.adding-post ul li a:hover {
    background: #7ca5a4;
}

.adding-post ul li a:focus {
    outline: #3a7c7c;
    box-shadow: 0 0 5px #1970ce
}