*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.4;
}
ul{
    list-style: none !important;
}
a{
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer !important;
}


.clear-fix {
    clear: both !important;
}

input, textarea {
    outline: none !important;
}



#main-nav-user,
#main-nav-company
{
    background: #FF416C;
	background-image: radial-gradient(circle, #264964, #294f6c, #2c5474, #305a7c, #336084, #2f6284, #2c6584, #2a6783, #286679, #2c646f, #336265, #3a5f5d);
    
    display: flex !important;
    align-items: center !important;

    justify-content: space-between !important;
    flex-direction: row !important;
    align-content: space-between;
    padding: 1.3rem 80px;
    /*position : sticky;*/
    position: relative;
    width: 100%;
    top: 0;
    z-index: 4;
    max-height: 74px;
  
}
#main-nav-company h1,
#main-nav-user h1
{
    font-size: 1.5rem;
}

#main-nav-company ul,
#main-nav-user ul
{
    display: flex;
    justify-content: center;
}
#main-nav-company ul li a,
#main-nav-user ul li a
{
    padding: .4rem .7rem;
    margin: .1rem;
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    border-radius: 5px !important;
    transition: all .3s ease-in !important;
}

#main-nav-user ul li a:hover,
#main-nav-company ul li a:hover
{
    background: #fff !important;
    color: #264964 !important;
}

.menu-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 12rem;

    /*background-image: linear-gradient(to right bottom, #051937, #002f4d, #004560, #005c70, #0c747b);
    */
    background-image: radial-gradient(circle, #264964, #2a4a62, #2e4a5f, #324b5d, #364b5b, #364c5b, #354c5b, #354d5b, #2f4e5d, #294f5e, #21515f, #17525f);   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    text-align: center;
    padding: 20px
}

.profileInfo {
    margin-top: 74px;
    padding: 40px 0;
}

.profileInfo img {
    cursor: pointer;
    width: 64px;
    height: 70px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px teal;
    transition: opacity .2s ease-out;
}
.profileInfo > a:hover img {
   opacity: .6;
}

.profileInfo h4 a {
    font-size: .9rem !important;
    font-weight: 500 !important;
}

.profileInfo h4 a:hover {
    color:rgb(255, 255, 220) ;
}

.editProfile {
    padding: 10px 0;
    
}

.menu-wrap h4 {
    font-weight: 500 !important;
    line-height: 1.9 !important;
    height: 30px;
    cursor: text;
}
.menu-wrap h4 a {
    font-size: .9rem;
    cursor: text !important;
}

.menu-wrap h5 a{
    display: block;
    padding: 3px !important;
    float: left;
    font-size: .83rem !important;
    font-weight: 400;
    cursor: pointer !important;
}

.editProfile h4 {
    font-size: 1rem
}
.menu-wrap .editProfile h5 a:hover {
    color: rgb(211, 203, 203);
    font-weight: 500;
    background: #e4e1e1;
    color: #333 !important;
    width: 100%;
    border-radius: .8rem;
}

.menu-wrap .editProfile h5 a {
    cursor: pointer !important;
    float: left;
    width: 100%
}
.menu-wrap svg {
    color:beige
}

.privacyInfo{
    margin-top: 3.5rem;
}

.privacyInfo h5 a{
    float: left;
    width: 100%;
    cursor: pointer;
}

.privacyInfo h5 a:hover {
    color: rgb(211, 203, 203);
    font-weight: 500;
    background: #e4e1e1;
    color: #333 !important;
    width: 100%;
    border-radius: .8rem;
}
.privacyInfo h5 a:hover svg {
    color: rgb(211, 203, 203);
    background: #e4e1e1;
    color: #333 !important;
    border-radius: .8rem;
}

footer {
    display: flex;
    background-image: radial-gradient(circle, #264964, #294f6c, #2c5474, #305a7c, #336084, #2f6284, #2c6584, #2a6783, #286679, #2c646f, #336265, #3a5f5d);
    flex-direction: column;
    box-shadow: 0px 0px 9px #c3bcbc;
    width: calc(100% - 12rem);
    float: right;
    overflow-x: hidden;
}

.footer-wrap {
    
    display: flex;
    justify-content: space-around;
    height: 10rem;
    align-items: center;  
}

.footer-wrap div {
    display: flex;
    flex-direction: column;
}
.footer-wrap div a {
    
    margin: .7rem 0 !important;
    font-weight: 500 !important;
    text-align: center !important;
    cursor: pointer;
    transition: .3s all ease !important;
    font-size: .8rem


}

.footer-wrap div a:hover {
    color: #e9cfcf !important;
    font-weight: 600 !important
}
.footer-wrap:last-child {
    flex: 2 !important;
    text-align: center !important

}
.footer-wrap div h4 {
    margin-left: 10px !important;
    font-size: inherit
}


.footer-wrap div input {
    border: none !important;
    border-radius: 2rem !important;
    height: 1.5rem !important;
    width: 16rem !important;
    margin: 1rem 0;
    background: #a09999 !important;
    box-shadow: 0px 0px 3px #b28a8a !important;
    padding: 2px 13px !important;
    font-size: 1.1rem !important;

}

.copyright {
    display: flex !important;
    padding: 20px !important;
    align-items: center !important;
    font-size: 1.1rem !important;
    justify-content: space-around !important;
}
.copyright h6 {
    font-weight: 700 !important;
    font-size: .7rem !important;
    letter-spacing: 1.1px !important;
    font-family: sans-serif !important;
}

main-form{
    height: 100vh !important;
    width: 100vw;
    background: darkolivegreen !important;
    position: fixed !important;
    opacity: 0 !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 99 !important;
    overflow: hidden !important;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.main-form > div {
    height: 70% !important;
    width: 70% !important;
    background: #333 !important;
    border-radius: 5rem !important
}


input::placeholder {
    direction:  !important
}

.post-content {
    text-align: right
}

